<div class='row'>
  <div class='col-sm-12'>
    <h2>Земский доктор</h2>
    <%= link_to 'Добавить', new_manage_doctor_path, :class => 'btn btn-primary' %>
    <% collection.each do |doctor| %>
    <% end %>
  </div>
</div>
