<div class='html5-player'>
  <h3><%= title %></h3>
  <p>
    <video width='640' height='360' controls='controls' poster='<%= poster %>'>
      <source src='<%= video.url %>'>
      Ваш браузер не поддерживает элемент video
    </video>
  </p>
</div>
