<div class='content row'>
  <div class="row">
    <%= render partial: 'subnavigation' %>

    <div class="col-xs-6">
      <h3><%= @page.title %></h3>
    </div>

    <div class='col-xs-6 margin-top-20'>
      <p>
              Департаментом здравоохранения Томской области запущен
        открытый проект по формированию Резерва управленческих кадров для
        областных государственных учреждений, подведомственных Департаменту
        здравоохранения Томской области.
      </p>

      <p>
        Основной целью проекта является отбор талантливых сотрудников
        отрасли, мотивированных на построение карьеры в системе регионального
        здравоохранения, развитие их управленческого потенциала для подготовки к
        замещению вакантных руководящих должностей в медицинских
        учреждениях, подведомственных Департаменту здравоохранения Томской
        области.
      </p>

      <p>
        Лица, желающие участвовать в проекте проходят оценочные
        мероприятия: тестирование и оценку Комиссией по формированию Резерва
        управленческих кадров на соответствие квалификационным требованиям,
        установленным для замещения соответствующих должностей.
        Для прохождения тестирования необходимо подать заявку на участие в
        тестировании. (сделать активными слова для перехода к заявке).
        После направления заявки Вы получите ссылку на онлайн-
        тестирование.
      </p>

      <p>
        По результатам тестирования участники, набравшие 60 и более баллов,
        очно приглашаются на второй этап оценочной процедуры.
        Для оценки кандидата на соответствие квалификационным
        требованиям, установленным для замещения соответствующих должностей,
        необходимо предоставить в Комиссию по формированию резерва
        управленческих кадров пакет документов, определённых в разделе
        «Документы» (сделать активным слово для перехода в раздел).
      </p>

      <p>
        По вопросам участия в проекте обращаться к начальнику отдела
        кадровой политики и государственной гражданской службы комитета
        организационно-кадровой работы – Зленко Алене Ивановне
        (8 3822 999-101 добавочный 2847,
        <%= mail_to 'zlenko@dzato.tomsk.ru' %>
        ).
      </p>
    </div>
  </div>
</div>
