<div class='content row'>
  <div class="row">
    <%= render partial: 'subnavigation' %>

    <div class="col-xs-6">
      <h1><%= @page.title %></h1>
    </div>

    <div class='col-xs-6 margin-top-20'>
      <ul>
        Документы, предоставляемые в Комиссию по формированию Резерва
        управленческих кадров гражданином, претендующим на включение в
        резерв, для второго этапа оценочной процедуры:

        <li>
          Согласие на обработку персональных данных (предполагается активная
          ссылка на форму)
        </li>
        <li>
          Заявление (предполагается активная ссылка на форму)
        </li>
        <li>
          Анкета (предполагается активная ссылка на форму)
        </li>
        <li>
          Копия паспорта или заменяющего его документа
        </li>
        <li>
          Копия трудовой книжки, заверенная кадровой службой по месту работы,
          или иные документы, подтверждающие трудовую деятельность гражданина
        </li>
        <li>
          Копии документов об образовании и о квалификации, а также копии
          документов, подтверждающих повышение или присвоение квалификации по
          результатам дополнительного профессионального образования, заверенные
          кадровой службой по месту работы
        </li>
      </ul>

      <ul>
        Формы документов для лиц, включенных в Резерв управленческих
        кадров:
        <li>
          Базовый план индивидуального развития резервиста (базовый уровень)
          (предполагается активная ссылка на форму)
        </li>
        <li>
          Базовый план индивидуального развития резервиста (средний уровень)
          (предполагается активная ссылка на форму)
        </li>
        <li>
          Базовый план индивидуального развития резервиста (высший уровень)
          (предполагается активная ссылка на форму)
        </li>
      </ul>
    </div>
  </div>
</div>
