  <div class="row">
    <div class="col-xs-12">
      <p>
        Ваша заявка успешно создана, проверьте вашу почту, чтобы подтвердить заявку.
      </p>
      <p>
        Если вы не получили письмо,
        <%= link_to 'нажмите сюда.', another_confirmation_claim_path %>
      </p>
    </div>
  </div>
