<div class='content row'>
  <div class='col-xs-3'>
    <div class='subnavigation'>
      <%= render_partial_for_region(@subnavigation, 'sub') if @subnavigation.present? %>
    </div>
  </div>

  <div class='col-xs-9'>
    <%= render :partial => 'regions/news_list', :locals => { :object => @content_first.content } if @content_first.present? %>
  </div>
</div>
