<div class='content row'>
  <%= render :partial => 'subnavigation' %>

  <div class='col-sm-9 col-xs-12'>
    <%= render_partial_for_region(@breadcrumbs) if @breadcrumbs.present? %>
    <%= render_partial_for_region(@content_first, 'department') if @content_first.present? %>
    <%= render_partial_for_region(@content_second, 'department') if @content_second.present? %>
  </div>
</div>
