<% if @content_first.present? && @content_first.content.present? %>
  <% content_for :page_title, "#{[@content_first.part_title, @content_first.content.title.mb_chars.downcase].join(', ')} — #{strip_tags(@site_name.content.body)}".squish %>
<% end %>

<div class='content row'>
  <%= render :partial => 'subnavigation' %>

  <div class='col-xs-9'>
    <%= render_partial_for_region(@breadcrumbs) if @breadcrumbs.present? %>
    <%= render_partial_for_region(@content_first, 'department') if @content_first.present? %>
    <div class='row'>
      <%= render :partial => 'social_likes' %>
    </div>
  </div>
</div>
