<% content_for :page_title, strip_tags(@site_name.content.body).squish %>

<div class='content row'>
  <div class='col-xs-4'>
    <div class='left'>
      STUB LEFT
    </div>
  </div>

  <div class='col-xs-4'>
    <div class='center'>
      STUB CENTER
    </div>
  </div>

  <div class='col-xs-4'>
    <div class='right'>
      STUB RIGHT
    </div>
  </div>
</div>
