<% content_for :page_title, strip_tags(@site_name.content.body).squish %>

<div class='main_page row'>
  <div class='col-xs-3'>
    <div class='left'>
      <%= content_tag :div, render_partial_for_region(@quick_links), :class => :quick_links if @quick_links.present? %>
    </div>
  </div>

  <div class='col-xs-9'>
    <div class='right'>
      STUB RIGHT
    </div>
  </div>
</div>
