<div class='row'>
  <div class='col-sm-12'>
    <div class='content'>
      <h4>Земский доктор</h4>
      <ul class='evaluation_registries'>
        <% @evaluation_registries.each do |evaluation_registry| %>
          <li>
            <div class='link'>ЛПУ: <%= link_to evaluation_registry.title, manage_evaluation_registry_path(evaluation_registry) %></div>
            <div class='date'>
              Анкета создана <%= I18n.l evaluation_registry.created_at %>,
              <%= I18n.t 'evaluation_registry_attachments.count', :count => evaluation_registry.evaluation_registry_attachments.count %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @evaluation_registries %>
    </div>
  </div>
</div>
