app:
  secret:       SECRET

devise:
  secret:     	SECRET

errors:
  key:          KEY
  url:          http://errors

sso:
  key:          KEY
  secret:       SECRET
  url:          http://esp-sso

storage:
  url:          http://esp-storage

sso:
  url:          http://esp-sso
  key:          KEY
  secret:       SECRET

recaptcha:
  private:      SECRET
  public:       SECRET

mail:
  domain:       domain
  smtp:         smtp
  port:         25
  login:        login
  password:     password
  from:         from@mail
  to:           to@mail

  idea:
    sender:     sender@mail
    recipient:  recipient@mail
