app:
  url:          http://localhost
  host:         localhost
  secret:       SECRET

devise:
  secret:     	SECRET

errors:
  key:          KEY
  url:          http://errors

sso:
  key:          KEY
  secret:       SECRET
  url:          http://esp-sso

storage:
  url:          http://esp-storage

sso:
  url:          http://esp-sso
  key:          KEY
  secret:       SECRET

solr:
  url:          http://solr.url

recaptcha:
  private:      SECRET
  public:       SECRET

mail:
  domain:       domain
  smtp:         smtp
  port:         25
  login:        login
  password:     password
  from:         from@mail
  to:           to@mail

  idea:
    sender:     sender@mail
    recipient:  recipient@mail

  thank:
    sender:     sender@mail
    recipient:  recipient@mail

  new_model:
    sender:     sender@mail
    recipient:  recipient@mail

  evaluation_registry:
    sender:     sender@mail
    recipient:  recipient@mail

  video_message:
    sender:     sender@mail
    recipient:  recipient@mail

  declaration_supports:
    sender:     sender@mail
    recipient:  recipient@mail
