<li>
  <% if current_page.last? %>
    <span>
      <span aria-hidden='true'>
        <%= raw(t 'views.pagination.next') %>
      </span>
    </span>
  <% else %>
    <%= link_to raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>
  <% end %>
</li>
