<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
      Подтверждение заявки.
    </h3>

    <p>
      Вы можете подвердить вашу заявку перейдя по ссылке:
      <%= link_to @url, @url %>
    </p>

    <p>Это письмо сформировано автоматически. Не нужно на него отвечать.</p>
  </body>
</html>
