<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
      Новая заявка.
    </h3>

    <p>
      <%= link_to 'q', '' %>
    </p>

    <p>Это письмо сформировано автоматически. Не нужно на него отвечать.</p>
  </body>
</html>
