<div class='content row'>
  <div class="row">
    <%= link_to 'Добавить участника в резерв',
                new_manage_human_reserv_claim_path,
                class: 'btn btn-primary' %>
  </div>
</div>

<%= render 'shared/human_reserv_claims/index' %>
