+font-face('Europe Ext', font-files('europe_ext.ttf', 'europe_ext.otf'))

body
  color: #000
  font-size: 12px
  font-family: Verdana, Geneva, sans-serif
  line-height: 1.6
  background-color: #fff

h1
  font-family: 'Europe Ext'
