+font-face('Europe Ext', font-files('europe_ext.ttf', 'europe_ext.otf'))

body
  color: #000
  font-size: 12px
  font-family: Verdana, Geneva, sans-serif
  line-height: 1.6
  background-color: #fff

h1
  font-family: 'Europe Ext', 'Verdana', 'Tahoma', sans-serif

a
  color: #005faf
  text-decoration: underline

  &:hover,
  &:focus
    color: darken(#005faf, 10%)
    text-decoration: none

  &.disabled
    color: inherit
    cursor: default
    text-decoration: none

ol
  margin: 10px 0 10px 20px

  li
    list-style-type: decimal

ul
  li
    list-style-type: none

=unorder_list_style
  ul li
    position: relative
    padding-left: 15px
    margin: 5px 0

    &:before
      display: block
      content: '–'
      position: absolute
      left: 0
      top: 0

.nobr
  white-space: nowrap

.list-bordered
  border-bottom: 1px solid #e0e0e0

  &:last-child
    border-bottom: 0

  li
    padding: 0 0 10px 0

table
  .caption
    background: #f2f2f2
    border: 1px solid #fff
    color: #737373
    width: 40%

    strong
      color: #737373

  td
    border-top: 1px solid #f2f2f2
    border-right: 1px solid #f2f2f2
    border-bottom: 1px solid #f2f2f2
    vertical-align: middle

.docs
  background: #fff  image_url('regulation.png') no-repeat center top
  padding: 90px 0 0 25px
  width: 170px

  a
    +inline-block
    margin: 5px 0

.slider
  border-top: 1px solid #8ac22b
  display: block
  font-size: 18px
  margin: 15px 0
  padding: 10px 0 0
  text-decoration: none

  &.open
    border-bottom: 0
    padding-bottom: 0
    margin-bottom: 5px

    &:after
      content: '\2013'
      color: #8ac22b

  &:after
    content: '\2B'
    color: #8ac22b
    height: 16px
    margin: 0 0 0 5px
    width: 16px

.rss
  +inline-block
  background: image_url('rss.png') no-repeat
  height: 24px
  text-indent: -9999px
  width: 24px

.gray
  color: gray

.floatl
  float: left
  margin: 0 10px 10px 0

.floatr
  float: right
  margin: 0 0 10px 10px
