body
  .hide-on-normal,
  .hidden
    display: none !important

  &.cecutient
    .hide-on-normal
      display: block !important

body
  &.color-white,
  &.color-black,
  &.color-blue
    .cecutient-panel
      background: #dadada !important
      border: 1px solid #999 !important
      border-top: 0 !important
      font-family: Arial
      font-size: 16px !important
      text-align: center
      padding: 15px

      div
        +inline-block
        color: #000 !important
        background: #dadada !important
        margin: 0 5px

        &.setting-font-size
          .reduce-font-size,
          .increase-font-size
            +inline-block
            font-size: 36px !important
            font-weight: bold
            text-align: center
            width: 40px
            height: 40px
            line-height: 40px
            text-decoration: none
            color: #000 !important
            background-color: #fff !important

            &:hover
              background-color: #efefef !important

          .font-size
            color: #000 !important

        &.setting-color
          a
            +inline-block
            width: 40px
            height: 40px

            &.current
              position: relative

              &:after
                top: 100%
                left: 50%
                border: solid transparent
                content: ''
                height: 0
                width: 0
                position: absolute
                pointer-events: none
                border-color: transparent
                border-width: 5px
                margin-left: -5px

            &.color-white
              background-color: #fff !important

              &.current:after
                border-top-color: #fff !important

            &.color-black
              background-color: #000 !important

              &.current:after
                border-top-color: #000 !important

            &.color-blue
              background-color: #9dd1ff !important

              &.current:after
                border-top-color: #9dd1ff !important


        &.setting-images
          a
            +inline-block
            font-size: 18px !important
            color: #000 !important
            background-color: #fff !important
            height: 40px
            line-height: 40px
            padding: 0 15px
            text-decoration: none
            color: #000 !important
            background-color: #fff !important

            &:hover
              background-color: #efefef !important

            &.current
              position: relative

              &:after
                top: 100%
                left: 50%
                border: solid transparent
                content: ''
                height: 0
                width: 0
                position: absolute
                pointer-events: none
                border-color: transparent
                border-top-color: #fff !important
                border-width: 5px
                margin-left: -5px

              &:hover
                &:after
                  border-top-color: #efefef !important

body

  /***************************/
  /******* color white *******/
  /***************************/

  &.color-white
    color: #000 !important
    background-color: #fff !important
    border-color: #000 !important

    span, a
      color: #000 !important

    img
      +filter(grayscale(100%))

    .header
      .logotype a
        +filter(grayscale(100%))

      .search_form
        .form-control
          border-color: #000
          background-color: #fff

        .btn
          color: #000
          background: none
          background-color: #fff
          border-color: #000

    .main_menu_wrapper
      border-color: #000
      *
        font-size: inherit !important

      &:before,
      &:after
        background-color: #000

    .main_menu ul

      &:after
        background: none
        background-color: #000 !important

      li

        &:before
          background: none
          background-color: #000 !important

        &:after
          background-color: #000 !important

        &:hover
          &:after
            display: none

          .submenu
            border-right: 0

            &:before
              position: absolute
              content: ''
              bottom: -1px
              right: -1px
              width: 1px
              height: 2px
              background-color: #000

            &:after
              top: -1px
              right: -1px
              background-color: #000

        &.selected a
          &:before
            border-bottom-color: #000 !important

          &:after
            border-bottom-color: #fff !important

        .submenu
          border-color: #000
          background-color: #fff

    .main_page
      *
        font-size: inherit !important

      .quick_links
        p
          border: 1px solid #000
          background-color: #fff

      .thanks_patients
        h3
          border: 1px solid #000
          border-bottom: 0
          background-color: #fff

          &:before,
          &:after
            display: none

        .thanks
          background: none
          background-color: #fff
          border-color: #000

          .note
            color: #000

      .actual
        ul
          li
            background-color: #fff

            a
              background-color: #fff
              border-color: #000

            &.hover
              a
                background-color: #fff

                &:after
                  border-color: transparent transparent transparent #fff

        .scroller
          border-color: #000

          .jspVerticalBar
            border-color: #000

          .jspDrag
            background-color: #000

      .news
        .tabs
          border-color: #000

          li
            &.active
              background-color: #fff
              border: 1px solid #000
              border-bottom: 0

        .tab-content

          .date,
          .location
            color: #000

          .rss
            +filter(grayscale(100%))

      .banners
        li
          border-color: #000

        .banners-prev
          +filter(grayscale(100%))

        .banners-next
          +filter(grayscale(100%))

        .banners-pagination .square
          background-color: #fff
          border-color: #000

          &.active
            background-color: #000

      .attention
        border-color: #000

        .title
          background-color: #fff
          border: 1px solid #000

          &:before
            display: none

    .bottom_menu_wrapper
      background-color: #fff
      border-color: #000

      *
        font-size: inherit !important

    .footer_wrapper
      color: #000
      background-color: #fff
      border-top: 1px solid #000

    .development-json
      background-color: #fff
      border-top: 1px solid #000

    .development-resolution
      border-color: #000
      background-color: #fff

      &:before
        color: #000

    .list-bordered
      border-color: #000

    .content
      *
        font-size: inherit !important

      .subnavigation
        > ul
          border-color: #000

          li
            border-color: #000

            &.has_children
              > a:after
                border-top-color: #000

              &.selected
                ul
                  border-color: #000

                > a:after
                  bottom: 5px
                  border-top-color: transparent
                  border-bottom-color: #000

        .left_side_links
          .blue-pages,
          .reception
            +filter(grayscale(100%))
            background-color: #fff
            border: 1px solid #000

      h1.page-header
        font-size: 180% !important
        color: #000 !important
        border-bottom-color: #000 !important

      h2
        font-size: 160% !important

      h3
        font-size: 130% !important

      .department .department-structure .subdivisions-with-tree .subdivision .person .post,
      .department .subdivision-chief .contacts .appointments
        color: #000

      .department .subdivision-chief
        border-color: #000

      .department .department-contacts .regulation
        +filter(grayscale(100%))

      .department .department-contacts .contact
        border-color: #000

      .department .department-structure .subdivisions-with-tree .subdivision
        border-color: #000

      .department .department-chief .post
        color: #000

      .department .employees .employee
        border-color: #000

      .html-part blockquote,
      .news-item blockquote
        background-color: #fff
        border-left-color: #000

      .news-item,
      .more-like-this
        border-color: #000

      .docs,
      .icon
        +filter(grayscale(100%))

      .social-likes-wrapper .social-likes
        .social-likes__widget
          border-color: #000

          span
            +filter(grayscale(100%))

      .html-part table th,
      .html-part table td
        color: #000 !important
        border-color: #000
        background-color: #fff !important

        strong
          color: #000 !important

      .html-part .need-collapse h2
        color: #000

        &:after
          color: #000

      .html-part .note
        color: #000

      .html-part .thanks
        li
          border-color: #000

        .thank p
          font-size: 120% !important

        .author
          color: #000

      em
        font-size: 120% !important

      .btn
        color: #000
        background-color: #fff
        border-color: #000

      .slider
        font-size: 130% !important
        border-color: #000

        &:after
          color: #000

      .js-doctors-carousel-wrapper
        border-color: #000

      .form-control
        border-color: #000

      .simple_form .form-group label abbr
        color: #000

      .simple_form .actions input
        border-color: #000
        background-color: #fff

      .right-side-links
        border-color: #000

        h5
          color: #000
          background-color: #fff

          &:after
            display: none

      .news li,
      .announcements li
        border-color: #000

      .date,
      .location
        color: #000

      #galleria .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .active
        border-color: #000

      .documents-form
        .input,
        .submit
          background: none
          background-color: #fff
          border-color: #000

      .text-muted
        color: #000

      .caution,
      hr
        border-color: #000

      .nav.nav-pills
        li a
          border: 1px solid #fff

        .active a
          border: 1px solid #000
          background-color: #fff

      .pagination
        > li > a,
        > li > span,
        .active > a
          +inline-block
          background-color: #fff
          border-color: #000

  /***************************/
  /******* color black *******/
  /***************************/

  &.color-black
    color: #fff !important
    background-color: #000 !important
    border-color: #fff !important

    span, a
      color: #fff !important

    img
      +filter(grayscale(100%))

    .header
      .logotype a
        +filter(grayscale(100%))

      .search_form
        .form-control
          border-color: #fff
          background-color: #000

        .btn
          color: #fff
          background: none
          background-color: #000
          border-color: #fff

    .main_menu_wrapper
      border-color: #fff
      *
        font-size: inherit !important

      &:before,
      &:after
        background-color: #fff

    .main_menu ul

      &:after
        background: none
        background-color: #fff !important

      li

        &:before
          background: none
          background-color: #fff !important

        &:after
          background-color: #fff !important

        &:hover
          &:after
            display: none

          .submenu
            border-right: 0

            &:before
              position: absolute
              content: ''
              bottom: -1px
              right: -1px
              width: 1px
              height: 2px
              background-color: #fff

            &:after
              top: -1px
              right: -1px
              background-color: #fff

        &.selected a
          &:before
            border-bottom-color: #fff !important

          &:after
            border-bottom-color: #000 !important

        .submenu
          border-color: #fff
          background-color: #000

    .main_page
      *
        font-size: inherit !important

      .quick_links
        p
          border: 1px solid #fff
          background-color: #000

      .thanks_patients
        h3
          border: 1px solid #fff
          border-bottom: 0
          background-color: #000

          &:before,
          &:after
            display: none

        .thanks
          background: none
          background-color: #000
          border-color: #fff

          .note
            color: #fff

      .actual
        ul
          li
            background-color: #000

            a
              background-color: #000
              border-color: #fff

            &.hover
              a
                background-color: #000

                &:after
                  border-color: transparent transparent transparent #000

        .scroller
          border-color: #fff

          .jspVerticalBar
            border-color: #fff

          .jspDrag
            background-color: #000

      .news
        .tabs
          border-color: #fff

          li
            &.active
              background-color: #000
              border: 1px solid #fff
              border-bottom: 0

        .tab-content

          .date,
          .location
            color: #fff

          .rss
            +filter(grayscale(100%))

      .banners
        li
          border-color: #fff

        .banners-prev
          +filter(grayscale(100%))

        .banners-next
          +filter(grayscale(100%))

        .banners-pagination .square
          background-color: #fff
          border-color: #fff

          &.active
            background-color: #999

      .attention
        border-color: #fff

        .title
          color: #000 !important
          background-color: #fff
          border: 1px solid #fff

          &:before
            display: none

    .bottom_menu_wrapper
      background-color: #000
      border-color: #fff

      *
        font-size: inherit !important

    .footer_wrapper
      color: #fff
      background-color: #000
      border-top: 1px solid #fff

    .development-json
      background-color: #000
      border-top: 1px solid #fff

    .development-resolution
      border-color: #fff
      background-color: #000

      &:before
        color: #fff

    .list-bordered
      border-color: #fff

    .content
      *
        font-size: inherit !important

      .subnavigation
        > ul
          border-color: #fff

          li
            border-color: #fff

            &.has_children
              > a:after
                border-top-color: #fff

              &.selected
                ul
                  border-color: #fff

                > a:after
                  bottom: 5px
                  border-top-color: transparent
                  border-bottom-color: #fff

        .left_side_links
          .blue-pages,
          .reception
            +filter(grayscale(100%))
            background-color: #000
            border: 1px solid #fff

      h1.page-header
        font-size: 180% !important
        color: #fff !important
        border-bottom-color: #fff !important

      h2
        font-size: 160% !important

      h3
        font-size: 130% !important

      .department .department-structure .subdivisions-with-tree .subdivision .person .post,
      .department .subdivision-chief .contacts .appointments
        color: #fff

      .department .subdivision-chief
        border-color: #fff

      .department .department-contacts .regulation
        +filter(grayscale(100%))
        background-color: #000

      .department .department-contacts .contact
        border-color: #fff

      .department .department-structure .subdivisions-with-tree .subdivision
        border-color: #fff

      .department .department-chief .post
        color: #fff

      .department .employees .employee
        border-color: #fff

      .html-part blockquote,
      .news-item blockquote
        background-color: #000
        border-left-color: #fff

      .news-item,
      .more-like-this
        border-color: #fff

      .docs,
      .icon
        +filter(grayscale(100%))
        background-color: #000

      .social-likes-wrapper .social-likes
        .social-likes__widget
          border-color: #fff
          background-color: #000

          span
            +filter(grayscale(100%))

      .html-part table th,
      .html-part table td
        color: #fff !important
        border-color: #fff
        background-color: #000 !important

        strong
          color: #fff !important

      .html-part .need-collapse h2
        color: #fff

        &:after
          color: #fff

      .html-part .note
        color: #fff

      .html-part .thanks
        li
          border-color: #fff

        .thank p
          font-size: 120% !important

        .author
          color: #fff

      em
        font-size: 120% !important

      .btn
        color: #fff
        background-color: #000
        border-color: #fff

      .slider
        font-size: 130% !important
        border-color: #fff

        &:after
          color: #fff

      .js-doctors-carousel-wrapper
        border-color: #fff

      .form-control
        border-color: #fff

      .simple_form .form-group label abbr
        color: #fff

      .simple_form .actions input
        border-color: #fff
        background-color: #000

      .right-side-links
        border-color: #fff

        h5
          color: #fff
          background-color: #000

          &:after
            display: none

      .news li,
      .announcements li
        border-color: #fff

      .date,
      .location
        color: #fff

      #galleria .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .active
        border-color: #fff

      .documents-form
        .input,
        .submit
          background: none
          background-color: #000
          border-color: #fff

      .text-muted
        color: #fff

      .caution,
      hr
        border-color: #fff

      .nav.nav-pills
        li a
          border: 1px solid #000

          &:hover
            background-color: #999

          &:active
            background-color: #000

        .active a
          border: 1px solid #fff
          background-color: #000

      .pagination
        > li > a,
        > li > span,
        .active > a
          +inline-block
          background-color: #000
          border-color: #fff

  /**************************/
  /******* color blue *******/
  /**************************/

  &.color-blue
    color: #063462 !important
    background-color: #9dd1ff !important
    border-color: #063462 !important

    span, a
      color: #063462 !important

    img
      +filter(sepia(1) hue-rotate(170deg))

    .header
      .logotype a
        +filter(sepia(1) hue-rotate(170deg))

      .search_form
        .form-control
          border-color: #063462
          background-color: #9dd1ff

        .btn
          color: #063462
          background: none
          background-color: #9dd1ff
          border-color: #063462

    .main_menu_wrapper
      border-color: #063462
      *
        font-size: inherit !important

      &:before,
      &:after
        background-color: #063462

    .main_menu ul

      &:after
        background: none
        background-color: #063462 !important

      li

        &:before
          background: none
          background-color: #063462 !important

        &:after
          background-color: #063462 !important

        &:hover
          &:after
            display: none

          .submenu
            border-right: 0

            &:before
              position: absolute
              content: ''
              bottom: -1px
              right: -1px
              width: 1px
              height: 2px
              background-color: #063462

            &:after
              top: -1px
              right: -1px
              background-color: #063462

        &.selected a
          &:before
            border-bottom-color: #063462 !important

          &:after
            border-bottom-color: #9dd1ff !important

        .submenu
          border-color: #063462
          background-color: #9dd1ff

    .main_page
      *
        font-size: inherit !important

      .quick_links
        p
          border: 1px solid #063462
          background-color: #9dd1ff

      .thanks_patients
        h3
          border: 1px solid #063462
          border-bottom: 0
          background-color: #9dd1ff

          &:before,
          &:after
            display: none

        .thanks
          background: none
          background-color: #9dd1ff
          border-color: #063462

          .note
            color: #063462

      .actual
        ul
          li
            background-color: #9dd1ff

            a
              background-color: #9dd1ff
              border-color: #063462

            &.hover
              a
                background-color: #9dd1ff

                &:after
                  border-color: transparent transparent transparent #9dd1ff

        .scroller
          border-color: #063462

          .jspCap,
          .jspTrack
            background-color: #9dd1ff

          .jspVerticalBar
            border-color: #063462

          .jspDrag
            background-color: #063462

      .news
        .tabs
          border-color: #063462

          li
            &.active
              background-color: #9dd1ff
              border: 1px solid #063462
              border-bottom: 0

        .tab-content

          .date,
          .location
            color: #063462

      .banners
        li
          border-color: #063462

        .banners-prev
          +filter(grayscale(100%))

        .banners-next
          +filter(grayscale(100%))

        .banners-pagination .square
          background-color: #9dd1ff
          border-color: #063462

          &.active
            background-color: #999

      .attention
        border-color: #063462

        .title
          color: #9dd1ff !important
          background-color: #063462
          border: 1px solid #063462

          &:before
            display: none

    .bottom_menu_wrapper
      background-color: #9dd1ff
      border-color: #063462

      *
        font-size: inherit !important

    .footer_wrapper
      color: #063462
      background-color: #9dd1ff
      border-top: 1px solid #063462

    .development-json
      background-color: #9dd1ff
      border-top: 1px solid #063462

    .development-resolution
      border-color: #063462
      background-color: #9dd1ff

      &:before
        color: #063462

    .list-bordered
      border-color: #063462

    .content
      *
        font-size: inherit !important

      .subnavigation
        > ul
          border-color: #063462

          li
            border-color: #063462

            &.has_children
              > a:after
                border-top-color: #063462

              &.selected
                ul
                  border-color: #063462

                > a:after
                  bottom: 5px
                  border-top-color: transparent
                  border-bottom-color: #063462

        .left_side_links
          .blue-pages,
          .reception
            background-color: #9dd1ff
            border: 1px solid #063462

      h1.page-header
        font-size: 180% !important
        color: #063462 !important
        border-bottom-color: #063462 !important

      h2
        font-size: 160% !important

      h3
        font-size: 130% !important

      .department .department-structure .subdivisions-with-tree .subdivision .person .post,
      .department .subdivision-chief .contacts .appointments
        color: #063462

      .department .subdivision-chief
        border-color: #063462

      .department .department-contacts .regulation
        background-color: #9dd1ff

      .department .department-contacts .contact
        border-color: #063462

      .department .department-structure .subdivisions-with-tree .subdivision
        border-color: #063462

      .department .department-chief .post
        color: #063462

      .department .employees .employee
        border-color: #063462

      .html-part blockquote,
      .news-item blockquote
        background-color: #9dd1ff
        border-left-color: #063462

      .news-item,
      .more-like-this
        border-color: #063462

      .docs,
      .icon
        background-color: #9dd1ff

      .social-likes-wrapper .social-likes
        .social-likes__widget
          border-color: #063462
          background-color: #9dd1ff

      .html-part table th,
      .html-part table td
        color: #063462 !important
        border-color: #063462
        background-color: #9dd1ff !important

        strong
          color: #063462 !important

      .html-part .need-collapse h2
        color: #063462

        &:after
          color: #063462

      .html-part .note
        color: #063462

      .html-part .thanks
        li
          border-color: #063462

        .thank p
          font-size: 120% !important

        .author
          color: #063462

      em
        font-size: 120% !important

      .btn
        color: #063462
        background-color: #9dd1ff
        border-color: #063462

      .slider
        font-size: 130% !important
        border-color: #063462

        &:after
          color: #063462

      .js-doctors-carousel-wrapper
        border-color: #063462

      .form-control
        border-color: #063462

      .simple_form .form-group label abbr
        color: #063462

      .simple_form .actions input
        border-color: #063462
        background-color: #9dd1ff

      .right-side-links
        border-color: #063462

        h5
          color: #063462
          background-color: #9dd1ff

          &:after
            display: none

      .news li,
      .announcements li
        border-color: #063462

      .date,
      .location
        color: #063462

      #galleria .galleria-container .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .active
        border-color: #063462

      .documents-form
        .input,
        .submit
          background: none
          background-color: #9dd1ff
          border-color: #063462

      .text-muted
        color: #063462

      .caution,
      hr
        border-color: #063462

      .nav.nav-pills
        li a
          border: 1px solid #9dd1ff

          &:hover
            background-color: #999

          &:active
            background-color: #9dd1ff

        .active a
          border: 1px solid #063462
          background-color: #9dd1ff

      .pagination
        > li > a,
        > li > span,
        .active > a
          +inline-block
          background-color: #9dd1ff
          border-color: #063462

  /***************************/
  /******* hide images *******/
  /***************************/

  &.images-hide
    img
      display: none !important

    *
      background-image: none !important

      &:before,
      &:after
        background-image: none !important

      &.icon
        padding-left: 0

    .social-likes__button
      padding-left: 6px

    .header
      .logotype
        display: none

      .sitename
        @extend .col-lg-9
        @extend .col-md-9

        h1
          margin-left: 0

    .main_page
      .banners,
      .attention
        display: none !important

    .content
      object,
      .html-part iframe,
      .galleria-wrapper,
      .banners
        display: none !important

    .content .docs
      padding-top: 0 !important

    .content .subnavigation .left_side_links .html-part .blue-pages
      padding-left: 15px

    .content .department .department-chief .image
      display: none

    .content .department .department-contacts .regulation
      padding-top: 0

    .content .department .department-structure .subdivisions-with-tree .subdivision .person
      margin-left: 0

  /******************************/
  /******* with font-size *******/
  /******************************/

  @for $size from 12 through 30
    &.font-size-#{$size}
      font-size: #{$size / 10}rem !important

      *
        +word-wrap()
