.content .department

  h3
    font-size: 18px
    margin: 15px 0

  .department-contacts

    .regulation
      width: 125px
      float: right
      background: yellow
      background: #fff image_url('regulation.png') no-repeat center top
      padding: 90px 0 0 15px

    .contact
      +clearfix
      padding: 0 0 10px
      border-bottom: 1px solid #e0e0e0
      margin-bottom: 10px

      .label
        float: left
        display: block
        width: 120px
        font-size: inherit
        color: inherit
        line-height: inherit
        text-align: inherit
        white-space: inherit
        font-weight: bold
        +border-radius(0)
        padding: 0

      .value
        margin-left: 120px

        a.appointments
          font-size: 16px

  .department-chief
    +clearfix

    .image
      float: left
      margin: 5px 15px 0 0

    .name
      font-size: 18px

    .post
      color: #808080
      margin-bottom: 5px

  .employees
    margin-top: 15px

    .employee
      margin-top: 15px
      border-bottom: 1px solid #e0e0e0
      margin-bottom: 15px
      padding-bottom: 15px

      &:first-child
        border-top: 1px solid #e0e0e0
        padding-top: 15px

      &:last-child
        border-bottom: 0
        margin-bottom: 0
        padding-bottom: 0

      .name
        font-size: 14px

      .post
        color: #808080
        margin-bottom: 5px

      .phones,
      .email
        +inline-block
        margin-right: 15px

  .subdivision
    border-top: 1px solid #8ac22b
    margin-top: 30px

    .employees
      border-top: 0

  .department-dossier
    margin-bottom: 15px
    +unorder_list_style

    ol > li > ol > li,
    ul > li > ol > li
      list-style-type: decimal
      padding-left: 0

      &:before
        display: none

    .slider
      border-top: 0
      margin-top: 0

  .department-structure

    .subdivisions-with-tree

      .subdivision
        +clearfix
        border-top: 0
        border-bottom: 1px solid #e0e0e0
        padding-bottom: 15px
        margin-bottom: 15px

        &:last-child
          border-color: #8ac22b
          padding-bottom: 20px

        .image
          float: left

        .person
          margin-left: 115px

          .name
            font-size: 14px

          .post
            color: #7f7f7f
            margin-bottom: 5px

          .children
            position: relative
            margin: 10px 0 0 0

            &:before
              display: block
              content: ''
              width: 15px
              height: 1px
              position: absolute
              top: 0
              left: -15px
              background-color: #898989

            li
              font-size: 14px
              position: relative
              padding: 5px 0 5px 20px

              &:before
                display: block
                content: ''
                width: 1px
                height: 100%
                position: absolute
                top: 0
                left: 0
                background-color: #898989

              &:last-child:before
                height: 15px

              &:after
                display: block
                content: ''
                width: 15px
                height: 1px
                position: absolute
                top: 15px
                left: 0
                background-color: #898989

    .subdivisions-without-tree
      .title
        font-size: 14px
        margin: 5px 0

  .hello
    font-size: 14px
    font-family: Georgia, Times, 'Times New Roman', serif
    font-style: italic

    h3
      margin-top: 0

  .chief-functions
    +unorder_list_style

  .subdivision-chief
    text-align: center
    border: 1px solid #c0c0c0
    margin-bottom: 20px

    .position
      padding: 10px

    .photo
      +clearfix

    .person
      font-size: 14px
      padding: 10px

    .contacts
      border-top: 1px dotted #c0c0c0
      padding: 5px 10px

      .phones,
      .address,
      .email,
      .reception,
      .appointments
        margin: 5px 0

      .appointments
        font-size: 11px
        color: #808080
