.footer_wrapper
  color: #fff
  background-color: #00517c
  padding: 10px

  @media (max-width: $screen-xs-max)
    margin-top: 20px

  @media (min-width: $screen-sm-min)
    margin-top: 20px

  @media (min-width: $screen-md-min)
    margin-top: 0

  @media (min-width: $screen-lg-min)
    margin-top: 0


  a
    color: #fff

  .container
    position: relative

    @media (max-width: $screen-xs-max)
      position: static

  .contacts

    @media (max-width: $screen-xs-max)
      padding-left: 5px
      padding-right: 5px
      margin-bottom: 10px

    h4
      font-size: 16px
      margin: 0 0 5px 0

    p
      margin-bottom: 0

  .copyrights
    position: absolute
    right: 0
    bottom: 0

    ul
      margin-bottom: 0

      li
        text-align: right

    @media (max-width: $screen-xs-max)
      position: static
      padding-left: 5px
      padding-right: 5px

      ul li
        text-align: left
