.simple_form

  legend
    margin-bottom: 10px

  .notice
    font-size: 16px
    font-weight: bold
    margin-bottom: 20px

  .input
    +clearfix
    margin-bottom: 10px

    label
      display: block
      font-weight: normal
      font-size: 14px

      abbr
        color: #880000

    .hint
      color: #999
      display: block
      margin-top: 5px

    input
      border: 1px solid #e1e1e1
      padding: 5px

    select
      background-color: #fff
      border: 1px solid #e1e1e1
      padding: 6px 5px

    textarea
      width: 500px
      height: 200px
      border-color: #e1e1e1
      padding: 5px

    &.radio_buttons
      +clearfix
      margin-top: 10px

      label.radio_buttons
        margin-bottom: 0

      label.radio
        width: auto
        +inline-block
        padding-left: 18px
        margin: 0 15px 0 0

        input
          top: 5px
          left: 0
          border: 0
          padding: 0
          margin: 0

  .attachments
    border-bottom: 1px solid #e5e5e5
    padding-bottom: 10px
    margin-bottom: 20px

    .fields

      div.file
        +inline-block

        input
          border: 0
          padding: 0

      div.remove_file
        +inline-block
        margin: 15px 0 0 20px

  #evaluation_registry_title
    width: 100%

  #evaluation_registry_username
    width: 100%

  #evaluation_registry_proposal
    width: 100%

  #dynamic_recaptcha
    margin-bottom: 10px

    .recaptchatable #recaptcha_image
      border: 0 !important

    .recaptchatable #recaptcha_response_field
      font-size: 12px
      border: 1px solid #e1e1e1 !important
      padding: 5px

    #recaptcha_logo
      display: none

  .actions

    input
      font-size: 14px
      border: 1px solid #eccb1c
      background-color: #f2df79
      padding: 5px 15px

  &.search_form
    .input
      margin-bottom: 0

      input
        padding: 1px 2px

  &.idea

    border-top: 1px solid #e1e1e1
    padding-top: 20px

    .input

      label
        float: left
        width: 70px
        margin-top: 3px

    #dynamic_recaptcha
      margin: 0 0 10px 70px

    .recaptcha-alert
      margin-left: 70px

    .actions
      margin-left: 70px

  &.new_thank

    .thank_created_at
      float: left

    .thank_fullname
      float: left
      margin-right: 20px

    .thank_email
      float: left

    .thank_message
      clear: left

      textarea
        width: 668px

  &.new_model
    .input
      float: left
      margin-right: 10px

    input
      width: 170px

    select
      width: 170px

    textarea
      width: 700px

    #new_model_house,
    #new_model_building,
    #new_model_flat
      width: 80px
