.simple_form

  .notice
    margin-bottom: 20px

  .input
    +clearfix
    margin-bottom: 10px

    label
      display: block
      font-weight: normal
      font-size: 14px

      abbr
        color: #880000

    input
      border: 1px solid #e1e1e1
      padding: 5px

    select
      background-color: #fff
      border: 1px solid #e1e1e1
      padding: 6px 5px

    textarea
      width: 500px
      height: 200px
      border-color: #e1e1e1
      padding: 5px

  #dynamic_recaptcha
    margin-bottom: 10px

    .recaptchatable #recaptcha_image
      border: 0 !important

    .recaptchatable #recaptcha_response_field
      font-size: 12px
      border: 1px solid #e1e1e1 !important
      padding: 5px

    #recaptcha_logo
      display: none

  .actions

    input
      font-size: 14px
      border: 1px solid #eccb1c
      background-color: #f2df79
      padding: 5px 15px

  &.search_form
    .input
      margin-bottom: 0

      input
        padding: 1px 2px

  &.idea

    border-top: 1px solid #e1e1e1
    padding-top: 20px

    .input

      label
        float: left
        width: 70px
        margin-top: 3px

    #dynamic_recaptcha
      margin: 0 0 10px 70px

    .recaptcha-alert
      margin-left: 70px

    .actions
      margin-left: 70px

  &.new_thank

    .thank_created_at
      float: left

    .thank_fullname
      float: left
      margin-right: 20px

    .thank_email
      float: left

    .thank_message
      clear: left

      textarea
        width: 668px

  &.new_model
    .input
      float: left
      margin-right: 10px

    input
      width: 170px

    select
      width: 170px

    textarea
      width: 700px

    #new_model_house,
    #new_model_building,
    #new_model_flat
      width: 80px
