.main_page

  .quick_links
    margin-bottom: 20px

    p
      background-color: #00517c
      padding: 8px 12px 10px

      &:last-child
        margin-bottom: 0

      a
        color: #fff

  .gallery_of_honor
    text-align: center
    overflow: hidden
    background-color: #f4f4f4
    +background(linear-gradient(top, #e9e9e9, #ffffff))
    padding: 0 12px
    margin-bottom: 20px

    h3
      font-size: 15px
      margin: 10px 0

    .photo
      margin-bottom: 10px

    .name
      font-weight: bold
      margin-bottom: 5px

    .post
      color: #446d8d
      font-size: 11px

  .thanks_patients
    margin-bottom: 20px

    h3
      text-align: center
      position: relative
      background-color: #00517c
      padding: 12px 15px 13px
      margin: 0

      font-size: 12px

      @media (min-width: $screen-lg-min)
        font-size: 15px

      &:before
        width: 0
        height: 0
        content: ''
        display: block
        position: absolute
        top: 0
        right: 0
        border-bottom: 15px solid #638ebb
        border-right: 15px solid transparent

      &:after
        width: 0
        height: 0
        content: ''
        display: block
        position: absolute
        top: 0
        right: 0
        border-top: 15px solid #fff
        border-left: 15px solid transparent

      a
        color: #fff

    .thanks
      border: 1px solid #cdcdcd
      border-top: 0
      background-color: #f4f4f4
      +background(linear-gradient(top, #ffffff, #e9e9e9))
      padding: 8px 12px 10px

      .add
        margin-bottom: 10px

      .note
        color: #00517e
        font-size: 11px
        border-bottom: 1px solid #cdcdcd
        padding-bottom: 5px
        margin-bottom: 5px

        span
          font-weight: bold

      .text
        font-size: 14px
        font-family: Georgia, Times, 'Times New Roman', serif
        font-style: italic
        margin-bottom: 10px

        p
          margin-bottom: 0

  .actual
    position: relative

    .scroller
      height: 316px
      overflow: hidden
      border: 2px solid #cdcdcd

    ul
      margin-bottom: 0

      $height_li: 78px

      li
        height: $height_li


        @media (min-width: $screen-md-min)
          width: 247px

        @media (min-width: $screen-lg-min)
          width: 404px

        a
          height: $height_li
          width: 404px
          color: inherit
          position: relative
          display: table-cell
          vertical-align: middle
          text-decoration: none
          background-color: #fff
          +background(linear-gradient(top, #f1f1f1, #ffffff, #f1f1f1))
          border-bottom: 1px solid #cdcdcd
          border-right: 1px solid #cdcdcd
          padding-right: 15px
          padding-left: 15px

          &.last_child
            border-bottom: none

        &.hover a
          color: #fff
          background-color: #005e8e
          +background(linear-gradient(top, #00507b, #005b8a, #00517c))

          &:after
            display: block
            position: absolute
            content: ''
            width: 0
            height: 0
            top: 0
            border-style: solid
            border-width: 40px 0 40px 10px
            border-color: transparent transparent transparent #005b8a
            z-index: 1

            @media (min-width: $screen-md-min)
              right: -10px

            @media (min-width: $screen-lg-min)
              right: -4px

        img
          display: none

      &.without_scroll
        li
          @media (min-width: $screen-md-min)
            width: 254px

          @media (min-width: $screen-lg-min)
            width: 404px

          &.hover a
            &:after
              @media (min-width: $screen-lg-min)
                right: -10px

    .images
      a
        display: block
        position: absolute
        top: 2px
        right: 2px

  .news
    margin: 25px 0

    .date
      color: #9a9a9a
      font-size: 10px

  .banners
    margin: 25px auto 45px auto
    position: relative
    width: 705px

    .inner
      +clearfix
      position: relative

    ul
      width: 20000em
      position: relative
      list-style: none
      padding: 0
      margin: 0

    li
      float: left
      border: 1px solid #cdcdcd
      height: 230px
      width: 166px
      margin: 0 5px

      img
        height: 228px
        width: 164px

    .banners-prev, .banners-next
      border: 1px solid #cdcdcd
      height: 60px
      position: absolute
      top: 86px
      width: 25px

    .banners-prev
      left: -25px
      background: #f0f0f0 image_url('banners-btn.png') no-repeat 5px 18px

      &:hover
        background: #fff image_url('banners-btn.png') no-repeat 5px -33px
        border-color: #00517c

    .banners-next
      right: -25px
      background: #f0f0f0 image_url('banners-btn.png') no-repeat -47px 18px

      &:hover
        background: #fff image_url('banners-btn.png') no-repeat -47px -33px
        border-color: #00517c

    .banners-pagination
      margin: 8px 5px

      .square
        +inline-block
        background: #fafafa
        height: 15px
        width: 15px
        border: 1px solid #cdcdcd

        &.active
          background: #00517c
          border-color: #00517c

  .attention
    margin: 25px 0

.tabs
  border-bottom: 1px solid #00517c

  li
    +inline-block
    line-height: 32px

    &.active
      background: #00517c

      a
        color: #fff

    a
      color: #000
      padding: 8px 25px
      text-decoration: none

.attention
  border: 1px solid #ff0b7d
  padding: 25px 15px 0
  position: relative

  .title
    background: #ff0b7d
    color: #fff
    left: -10px
    padding: 6px 15px
    position: absolute
    text-transform: uppercase
    top: -15px

    &:before
      content: ''
      border-color: #c32b74 #c32b74 transparent transparent
      border-style: solid
      border-width: 5px 5px
      bottom: -10px
      height: 0
      left: 0
      position: absolute
      width: 0
