.main_page

  .quick_links
    margin-bottom: 20px

    p
      background-color: #00517c
      padding: 8px 12px 10px

      &:last-child
        margin-bottom: 0

      a
        color: #fff

  .gallery_of_honor
    text-align: center
    overflow: hidden
    background-color: #f4f4f4
    +background(linear-gradient(top, #e9e9e9, #ffffff))
    padding: 0 12px
    margin-bottom: 20px

    h3
      font-size: 15px
      margin: 10px 0

    .photo
      margin-bottom: 10px

    .name
      font-weight: bold
      margin-bottom: 5px

    .post
      color: #446d8d
      font-size: 11px
      margin-bottom: 0
