.content .subnavigation
  > ul
    font-size: 14px
    border: 1px solid #d9d9d9
    +border-radius(3px)
    margin-bottom: 20px

    li
      border-bottom: 1px solid #d9d9d9
      padding: 5px 15px 7px

      &:last-child
        border-bottom: 0

      &.selected
        > a
          color: inherit
          text-decoration: none

      a
        display: block

    .has_children

      > a
        position: relative

        &:after
          right: -5px
          bottom: 0
          border: solid transparent
          content: ''
          width: 0
          position: absolute
          border-top-color: #015fa9
          border-width: 5px

      ul
        display: none

      &.selected
        padding-bottom: 0

        > a:after
          bottom: 5px
          border-top-color: transparent
          border-bottom-color: #000

        ul
          display: block
          border-top: 1px solid #d9d9d9
          margin: 6px -15px 0

          li
            padding-left: 30px

  .left_side_links
    font-size: 14px
    margin-top: -10px
    margin-bottom: 20px

    > div
      background-color: #e8f3d5
      +border-radius(3px)
      padding: 5px 15px 7px
      margin-bottom: 10px

      &:last-child
        margin-bottom: 0

    .blue-pages
      background: #e8f3d5 image_url('blue-pages-bg.png') no-repeat 10px center
      padding-left: 42px

    .thanks
      background: #e8f3d5 image_url('thanks-bg.png') no-repeat 140px center

      strong
        color: #8bc12f
