<div class='row'>
  <div class='col-sm-12'>
    <div class='content'>
      <h4>Пользователи</h4>
      <table class='table table-bordered table-hover'>
        <thead>
          <tr>
            <th>Имя</th>
            <th>Права</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user.name, edit_manage_user_path(user.id) %>
              </td>
              <td>
                <%= user.permissions.map(&:role_text).sort.join(', ') %>
              </td>
              <td>
                <% unless user.eql?(current_user) %>
                  <%= link_to impersonate_engine.impersonate_user_path(user.id) do %>
                    войти как пользователь
                    <span class='glyphicon glyphicon-refresh text-small'></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
