<div class='actual visible-lg-block visible-md-block'>
  <div class='scroller'>
    <%= object.body.to_s.gsub(/\/\d+-\d+\//, '/440-315cmn/').gsub(/width=['|"]\d+['|"]/, 'width="440"').gsub(/height=['|"]\d+['|"]/, 'height="312"').html_safe %>
  </div>
  <div class='images'></div>
</div>
