<h1 class='page-header <%= header_css_class %>'><%= object.first.try(:second).try(:title).presence || part_title %></h1>

<div class='html-part'>
  <% object.first.try(:second).try(:children).each do |child| %>
    <h2><%= render_link_for_navigation(child.second) %></h2>
  <% end %>
</div>
