<ul>
  <% object.values.first['children'].each do |name, item| %>
    <li class="<%= name.gsub('-', '_') %><%= ' selected' if item['selected'] && item['children'] %>">
      <%= render_link_for_navigation item %>
      <% if item['children'] %>
        <div class='submenu'>
          <ul>
            <% item['children'].each do |name, item| %>
              <li><%= render_link_for_navigation item %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </li>
  <% end if object.values.first['children'] %>
</ul>
