<% object.values.last['children'].each do |name, item| %>
  <% if item['selected'] && item['children'] %>
    <div class="submenu_opened">
      <div class='inner'>
        <ul>
          <% item['children'].each do |name, item| %>
            <li <%= 'class=active' if item['selected'] %>>
              <%= render_link_for_navigation item %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
