<% if object.items.present? %>
  <ul>
    <% object.items.each do |item| %>
      <li>
        <div class="date"><%= l Date.parse(item.since) %></div>
        <%= link_to item.title, item.link, :title => item.title %>
      </li>
    <% end %>
  </ul>

  <%= link_to object.title, object.collection_link %>
  <%= link_to "rss", object.rss_link, :class => 'rss' %>
<% end %>
