<% if object.items.any? %>
  <ul>
    <% object.items.group_by{ |i| i.since.to_date }.each do |date, items| %>
      <span class="date"><%= l date %></span>

      <% items.each do |item| %>
        <li>
          <%= link_to item.title, item.link, :title => item.title %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to object.title, object.collection_link %>
  <%= link_to "rss", object.rss_link, :class => 'rss' %>
<% end %>
