<div class='footer_wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='contacts col-lg-9 col-xs-12'>
        <h4>Контакты</h4>
        <p>Департамент здравоохранения Томской области</p>
        <p>Адрес: 634041, г. Томск, пр. Кирова, 41, <a href='#' class='js-location-map' data-title='Департамент здравоохранения Томской области на карте города'>Схема проезда</a></p>
        <p>Телефон: 8(3822) 999-101, факс: 8(3822) 51-60-35</p>
        <p>E-mail: <a href='mailto:ozo@dzato.tomsk.ru'>ozo@dzato.tomsk.ru</a></p>
        <p>Режим работы: пн-пт 09:00-18:00, обед 12:30-13:30, сб, вс &ndash; выходные</p>
      </div>
      <div class='copyrights col-lg-3 col-xs-12'>
        <ul>
          <li>
            <a class='telegram js-tooltip' href='https://t.me/Oblast_zdorovya' target='_blank' title='Мы в Telegram'>Telegram</a>
          </li>
          <li>
            <a class='vk js-tooltip' href='https://vk.com/oblast_zdorovya' target='_blank' title='Мы Вконтакте'>ВКонтакте</a>
          </li>
          <li>
            <a class='ok js-tooltip' href='https://ok.ru/group/53755578548430' target='_blank' title='Мы в Одноклассниках'>Одноклассники</a>
          </li>
          <li>
            <a class='fb js-tooltip' href='https://www.facebook.com/OblastZdorovya' target='_blank' title='Мы в Facebook'>Facebook</a>
          </li>
          <li>
            <a class='instagram js-tooltip' href='https://www.instagram.com/oblast_zdorovya_tomsk' target='_blank' title='Мы в Instagram'>Instagram</a>
          </li>
          <li>
            <a class='youtube js-tooltip' href='https://www.youtube.com/channel/UC9klQLiwrtSzKw4iwGU1Mag' target='_blank' title='Мы в Youtube'>YouTube</a>
          </li>
          <li>
            <a class='newspaper js-tooltip' href='http://gazeta.tabletka.tomsk.ru' target='_blank' title='Газета «Область здоровья»'></a>
          </li>
          <li>
            <a class='metrika js-tooltip' href='https://metrika.yandex.ru/dashboard?id=24581726' target='_blank' title='Наша статистика'>Наша статистика</a>
          </li>
        </ul>
        <div class='informer margin-top-10'>
          <%= render partial: 'metrika' if Rails.env.production? %>
        </div>
      </div>
    </div>
  </div>
</div>
