<div class='social-likes-wrapper col-xs-12 noindex'>
  <div class='social-likes social-likes_light'>
    <div class='vkontakte' title='Поделиться ссылкой во Вконтакте'>Вконтакте</div>
    <div class='facebook' title='Поделиться ссылкой на Фейсбуке'>Facebook</div>
    <div class='twitter' title='Поделиться ссылкой в Твиттере'>Twitter</div>
    <div class='odnoklassniki' title='Поделиться ссылкой в Одноклассниках'>Одноклассники</div>
    <div class='mailru' title='Поделиться ссылкой в Моём мире'>Мой мир</div>
    <div class='plusone' title='Поделиться ссылкой в Гугл-плюсе'>Google+</div>
  </div>
</div>
