<!--
<div class='top_message hidden-xs'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 text-center'>
        <strong>Внимание!</strong> Новая версия сайта работает в тестовом режиме. Также временно доступна <a href='http://old.zdrav.tomsk.ru'>старая версия сайта</a>.
      </div>
    </div>
  </div>
</div>
-->
